<h1>QUOTES APP</h1>
<div class="full-screen w3-padding-32">
<p>
    <label>ENTER QUOTE </label>
    <input class="w3-input w3-border">
</p>
<p>
    <label>AUTHOR </label>
    <input class="w3-input w3-border">
</p>
<p>
    <label>NAME </label>
    <input class="w3-input w3-border">
</p>
</div>
<div class="w3-margin-bottom w3-margin-top flex-space-evenly">
    <button class="w3-button w3-blue w3-round w3-ripple">Submit</button>
    <button class="w3-button w3-red w3-round w3-ripple">Clear</button>

</div>